/*CSS body*/
body {
	width: 1200px;
	font-family: "Arial";
	color: black;
	margin: auto;
	text-align: center;
}

body a {
	text-decoration: none;
	color: black;
}

/*CSS header*/
header {
	border-bottom: 1px black solid;
	margin-top: 5px;
}

header a {
	margin: 8px;
}

a:hover {
	background-color: rgb(214, 212, 212);
}

#menu {
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	margin-top: 15px;
}

#menu a {
	display: inline-block;
	text-align: center;
	width: 150px;
}



#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

.bouton_co_ins {
    margin: 10px;
}

footer {
	margin-top: 15px;
	border-top: 1px black solid;
}

