/*CSS body*/
body {
	width: 1200px;
	font-family: "Arial";
	color: black;
	margin: auto;
	text-align: center;
}

body a {
	text-decoration: none;
	color: black;
}

/*CSS header*/
header {
	border-bottom: 1px black solid;
	margin-top: 5px;
}

header a {
	margin: 8px;
}

a:hover {
	background-color: rgb(214, 212, 212);
}

#menu {
	margin-left: auto;
    margin-right: auto;
	margin-top: 15px;
}

#menu a {
	display: inline-block;
	width: 150px;
}

.lien_musique_post {
	text-decoration: underline;
}

#posts {	
	border: 1px black solid;
}

#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

.post {
	margin-left: auto;
    margin-right: auto;
	width : 1000px;
	height : 200px;
}

.contenu_post {
	border: 1px black solid;
	height: 120px;
	display: flex;
}

.info_post {
	width: 20%;
	height: 120px;
}

.description {
	margin-left : 15px;
	width: 50%;
	height: 120px;
	margin-top: -1px;
}


.bouton_co_ins {
    margin: 10px;
}

footer {
	margin-top: 15px;
	border-top: 1px black solid;
}

