/*HEADER*/

@font-face {
	font-family: "PicNic-Regular";
	src: url("ressources/font/PicNic-Regular.woff2");
}

header {
	text-align: center;
	border-bottom: 1px black solid;
	margin-top:15px;
}

.titre {
	font-family: "PicNic-Regular";
	font-size: 60px;
	margin-bottom: 15px;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
	display: inline;
}

#titre1 {
	color:rgb(255, 41, 41);
}

#titre2 {
	color:whitesmoke;
}

header a {
	margin: 8px;
	margin-top: 0px;
}

a:hover {
	background-color: rgb(214, 212, 212);
}

#menu {
	margin-top: 15px;
	margin-bottom: 15px;
}

#menu a {
	display: inline-block;
	width: 150px;
}

.lien_musique_post {
	text-decoration: underline;
}

#navbar {
	margin-top: 15px;
}

/*BODY*/

body {
	font-family: "Arial";
	color: black;
}

body a {
	text-decoration: none;
	color: black;
}


/* MAIN */

main a {
	text-decoration: underline;
	text-align: center;
}

main {
	margin-top: 15px;
	text-align: center;
}

/* INSCRIPTION & CONNEXION */

.form-control {
	resize:none;
}

#form_insc {
	width: 500px;
	margin:auto;
	margin-top: 15px;
	margin-bottom:15px;
	position: relative;
}

#alert_insc {
	width: 500px;
	margin:auto;
	height: 65px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#insc_input {
	width: 200px;
}

/* REDACTION */

#form_redac {
	width: 800px;
	margin:auto;
	padding : 5px;

}

/* PROFIL */

#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

#titre_posts_profil {
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	width : 1000px;
	border-bottom: 1px black solid;
}

/* POST */
.post {
	margin: auto;
	margin-bottom: 15px;
	width : 1000px;
	min-height: 120px;
	border: 1px black solid;
	display: flex;
}

.post_dans_section {
	margin: auto;
	margin-bottom: 15px;
	width : 1000px;
	height : 120px;
	border: 1px black solid;
	display: flex;
}

.titre_post {
	font-size: 20px;
	font-weight: bold;
}

.post_gauche {
	width: 20%;
	margin-right: 20px;
}

.post_droit {
	width: 60%;
	margin-top: -1px;
}

.div_desc {
	text-align: justify;
	overflow-wrap: break-word;
}


.bouton_co_ins {
    margin: 10px;
}

/*FOOTER */

footer {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px black solid;
	text-align: center;
}

