/*CSS body*/
body {
	width: 1200px;
	font-family: "Arial";
	color: black;
	margin: auto;
}

body a {
	text-decoration: none;
	color: black;
}

/*CSS header*/
header {
	text-align: center;
	border-bottom: 1px black solid;
	margin-top: 5px;
}

header a {
	margin: 8px;
}

a:hover {
	background-color: rgb(214, 212, 212);
}

main a {
	text-decoration: underline;
	text-align: center;
}

main {
	text-align: center;
}

.bouton_co_ins {
    margin: 10px;
}

footer {
	margin-top: 15px;
	border-top: 1px black solid;
}

