/*HEADER*/

:root {
	width:auto;
	margin:auto;
}
@font-face {
	font-family: "PicNic-Regular";
	src: url("ressources/font/PicNic-Regular.woff2");
}

header {
	text-align: center;
	padding-top:15px;
	background-color: rgb(177, 237, 232) ;
}

.titre {
	font-family: "PicNic-Regular";
	font-size: 60px;
	margin-bottom: 15px;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
	display: inline;
}

#titre1 {
	color:rgb(255, 105, 120);
}

#titre2 {
	color:rgb(255, 252, 249);
}

header a {
	margin: 8px;
	margin-top: 0px;
}

a:hover {
	background-color: rgba(177, 237, 232, 0.479);
	border-radius: 5px;
}

#menu {
	margin-top: 15px;
	margin-bottom: 15px;
	
}

#menu a {
	display: inline-block;
	width: 150px;
	
}

.lien_musique_post {
	text-decoration: underline;
}

#navbar {
	/*border-top: 3px  rgb(255, 252, 249) solid ;*/
	padding-top:10px;
	margin-top: 15px;
	background-color: rgb(53, 45, 57);
}

#navbar a {
	color: rgb(255, 252, 249);
	font-family: "Inter",sans-serif;

}

#rechercher {
	display:flex;
	border:none;
}

#boutton_recherche {
	width: 50px;
	height: 38px;
	display: inline-block;
	background-color: rgb(255, 105, 120);
	border:none;
}

/*BODY*/

body {
	color: black;
	font-family: "Inter",sans-serif;
}


body a {
	text-decoration: none;
	color: black;
}


/* MAIN */

main a {
	text-decoration: underline;
	text-align: center;
}

main {
	padding-top: 15px;
	padding-bottom:15px;
	text-align: center;
	background-color: rgb(177, 237, 232);
}

/* INSCRIPTION & CONNEXION */

.form-control {
	resize:none;
}

#form_insc {
	width: 500px;
	margin:auto;
	margin-top: 15px;
	margin-bottom:15px;
	position: relative;
}

#alert_insc {
	width: 500px;
	margin:auto;
	height: 65px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#insc_input {
	width: 200px;
}

/* REDACTION */

#form_redac {
	width: 800px;
	margin:auto;
	padding : 5px;

}

#selec_tag {
	padding :15px;
}

#inputGroupSelect01 {
	margin:auto;
}

/* PROFIL */

#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

#titre_posts_profil {
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	width : 65%;
	min-width: 750px;
	max-width:1200px;
	border-bottom: 1px black solid;
	
}

.abonnement {
	margin: auto;
	width : 300px;
	display: flex;
}

/*CONNEXION*/

#bouton_connexion{
	background-color:rgb(255, 105, 120);
	border: none;
}

#titre_rouge {
	color:rgb(255, 105, 120);
	font-size: 55px;;
	font-family: "PicNic-Regular";
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}

/* POST */
.post {
	margin: auto;
	margin-top: 15px;
	width : 65%;
	min-width: 750px;
	max-width:1200px;
	min-height: 120px;
	border: 1px black solid;
	border: 2px rgb(53, 45, 57) solid;
	display: flex;
	background-color:rgb(255, 252, 249);
	border-radius: 7px;
}

.post_dans_section {
	margin: auto;
	margin-top: 15px;
	width : 65%;
	min-width: 750px;
	max-width:1200px;
	height : 120px;
	display: flex;
}

.titre_post {
	font-size: 20px;
	font-weight: bold;
	color:rgb(255, 105, 120);
	-webkit-text-stroke: 0.2px;
	-webkit-text-stroke-color: black;
	
}

.post_gauche {
	width: 20%;
	margin-right: 20px;
}

.post_droit {
	width: 60%;
	margin-top: -1px;
}

.div_desc {
	text-align: justify;
	overflow-wrap: break-word;
}


.bouton_co_ins {
    margin: 10px;
}

/*FOOTER */

footer {
	padding-top:5px;
	padding-bottom:3px;
	text-align: center;
	background-color: rgb(53, 45, 57);
	color: rgb(255, 252, 249);
	font-family: "Inter",sans-serif;
}

 .options_bouton {
	padding: 5px;
	font-size: 12px;
	border: none;
  }
  

.options {
	position: relative;
	display: inline-block;
}
  

.options_contenu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	right:0;
}

.options_contenu a {
	font-size: 12px;
	color: black;
	padding: 5px 7px;
	text-decoration: none;
	display: block;
}

.options_contenu a:hover {
	background-color: #ddd;
}

.options:hover .options_contenu {
	display: block;
}

.options:hover .options_bouton {
	background-color: #ddd;
} 

