/*HEADER*/

:root {
	width: auto;
	margin: auto;
}

@font-face {
	font-family: "PicNic-Regular";
	src: url("ressources/font/PicNic-Regular.woff2");
}

header {
	text-align: center;
	padding-top: 5px;
	background-color: rgb(177, 237, 232);
}

.logo {
	font-family: "PicNic-Regular";
	font-size: 60px;
	margin-bottom: 15px;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
	display: inline;
}

.fixe {
	position: fixed;
	top: -15;
	width: 100%;
}

#div_titre {
	background-color: rgb(177, 237, 232);
	border-radius: 16px;
	padding: 0px 7px 3px;
	margin-top: -25px;
	margin-bottom: -15px;
}

.titre {
	font-size: 30px;
	font-family: "PicNic-Regular";
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: black;
	display: inline;
}

.titre1 {
	color: rgb(255, 105, 120);
}

.titre2 {
	color: rgb(255, 252, 249);
}

header a {
	margin: 8px;
	margin-top: 0px;
}

a:hover {
	background-color: rgba(177, 237, 232, 0.479);
	border-radius: 5px;
}

#menu {
	margin-bottom: 15px;
}

#menu a {
	display: inline-block;
	width: 150px;
}

.lien_musique_post {
	text-decoration: underline;
}

#inscrire {
	text-decoration: underline;
}

#navbar {
	z-index: 1;
	width: 100%;
	/*border-top: 3px  rgb(255, 252, 249) solid ;*/
	padding-top: 10px;
	margin-top: 15px;
	background-color: rgb(53, 45, 57);
}

#navbar a {
	color: rgb(255, 252, 249);
	font-family: "Inter", sans-serif;
}

#rechercher {
	display: flex;
	border: none;
}

#boutton_recherche {
	width: 50px;
	height: 38px;
	display: inline-block;
	background-color: rgb(255, 105, 120);
	border: none;
}

/*BODY*/

body {
	color: black;
	font-family: "Inter", sans-serif;
}


body a {
	text-decoration: none;
	color: black;
	text-align: center;
}

body a:hover {
	text-decoration: none;
}

/* MAIN */

main {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: rgb(177, 237, 232);
}

.decalage {
	margin-top: 81px;
}

/* INSCRIPTION & CONNEXION */

.form-control {
	resize: none;
}

#form_insc {
	width: 500px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

#alert_insc {
	width: 500px;
	margin: auto;
	height: 65px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#insc_input {
	width: 200px;
}

/* REDACTION */

#form_redac {
	width: 800px;
	margin: auto;
	padding: 5px;

}

#selec_tag {
	padding: 15px;
}

#inputGroupSelect01 {
	margin: auto;
}

/* PROFIL */

#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

#titre_posts_profil {
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	width: 65%;
	min-width: 750px;
	max-width: 1200px;
	border-bottom: 1px black solid;

}

.abo {
	margin: auto;
	width: 300px;
	display: flex;
}

/*CONNEXION*/

#bouton_connexion {
	background-color: rgb(255, 105, 120);
	border: none;
}

#titre_rouge {
	color: rgb(255, 105, 120);
	font-size: 55px;
	;
	font-family: "PicNic-Regular";
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}

/* POST */
.post {
	margin: auto;
	margin-top: 15px;
	width: 65%;
	min-width: 750px;
	max-width: 1200px;
	min-height: 120px;
	border: 1px black solid;
	border: 2px rgb(53, 45, 57) solid;
	display: flex;
	background-color: rgb(255, 252, 249);
	border-radius: 7px;
}

.post h2:hover {
	background-color: rgba(177, 237, 232, 0.479);
	border-radius: 5px;
}

.post_dans_section {
	margin: auto;
	margin-top: 15px;
	width: 65%;
	min-width: 750px;
	max-width: 1200px;
	height: 120px;
	display: flex;
}

.titre_post {
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 105, 120);
	-webkit-text-stroke: 0.2px;
	-webkit-text-stroke-color: black;

}

.post_gauche {
	width: 20%;
	margin-right: 20px;
}

.post_milieu {
	width: 60%;
	margin-top: -1px;
}

.post_droit {
	width: 30px;
	margin-right: 20px;
}

.options_bouton {
	padding: 5px;
	font-size: 12px;
	border: none;
}

.options {
	position: relative;
	display: inline-block;
}

.options_contenu {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
}

.options_contenu a {
	font-size: 12px;
	color: black;
	padding: 5px 7px;
	text-decoration: none;
	display: block;
}

.nb_vote {
	margin: auto;
}

.div_desc {
	text-align: justify;
	overflow-wrap: break-word;
}

.bouton_co_ins {
	margin: 10px;
}

/*FOOTER */

footer {
	padding-top: 5px;
	padding-bottom: 3px;
	text-align: center;
	background-color: rgb(53, 45, 57);
	color: rgb(255, 252, 249);
	font-family: "Inter", sans-serif;
}

#profil {
	display: flex;
	justify-content: center;
}

#profil_gauche {
	margin-right: 10px;
}

#profil_droit {
	padding-top: 10px;
	display: flex;
}

#lien_pfp:hover {
	opacity: 0.7;
}

#abonne {
	margin-right: 10px;
}

#profil_droit p {
	margin-bottom: 0px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center;
    justify-content: center;
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	max-width: 400px;
	max-height: 200px;
  }