@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #d1d1d1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(100, 221, 20);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/*HEADER*/

:root {
	width: auto;
	margin: auto;
}

@font-face {
	font-family: "PicNic-Regular";
	src: url("ressources/font/PicNic-Regular.woff2");
}

header {
	text-align: center;
}

#div_titre:hover {
	transform: scale(1.05)
}

#div_titre {
	padding: 0px 7px 3px;
	margin-top: -25px;
	margin-bottom: -15px;
	transition: transform 0.2s;
}

.titre {
	font-size: 30px;
	font-family: "PicNic-Regular";
	display: inline;
}

.titre1 {
	background: -webkit-linear-gradient(#cc3f3f, #c15050);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.titre2 {
	background: -webkit-linear-gradient(#eeeeee, #d1d1d1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

header a {
	margin: 8px;
	margin-top: 0px;
}

a:hover {
	background-color: rgba(177, 237, 232, 0.479);
	border-radius: 5px;
}

#menu {
	margin-bottom: 15px;
}

#menu a {
	display: inline-block;
	width: 150px;
	margin-left: 5px;
	margin-right: 5px;
}

#rechercher {
	width: 250px;
}

#form_recherche {
	display: flex;
}

.lien_musique_post {
	position: absolute;
	text-decoration: underline;
	font-family: 'Montserrat', sans-serif;
	word-spacing: 0.1em;
	color: #d1d1d1;
	font-weight: 300;
	z-index: 2;
	text-align: center;
	left: 5%;
}

.lien_musique_post:hover {
	background-color: #858585
}

#inscrire {
	text-decoration: underline;
}

#navbar {
	width: 100%;
	padding-top: 10px;
	background-color: rgb(53, 45, 57);
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	position: fixed;
	z-index: 3;
}

#navbar a {
	color: #d1d1d1;
}

#rechercher {
	display: flex;
	border: none;
}

#bouton_recherche {
	width: 50px;
	height: 38px;
	margin-left: 5px;
	display: inline-block;
	background-color: rgb(255, 105, 120);
	border: none;
	
}

/*BODY*/

body a {
	text-decoration: none;
	text-align: center;
	color: black;
}

body a:hover {
	text-decoration: none;
	color: black;
}

/* MAIN */

main {
	min-height: 90%;

	padding-top: 80px;
	padding-bottom: 15px;
	text-align: center;
	background: rgb(242, 123, 107);
	background: linear-gradient(159deg, rgba(242, 123, 107, 1) 4%, rgba(255, 132, 116, 1) 12%, rgba(203, 106, 94, 1) 26%, rgba(159, 95, 128, 1) 84%, rgba(88, 61, 114, 1) 100%);
}

/* INSCRIPTION & CONNEXION */

.form-control {
	resize: none;
}

#form_insc {
	width: 500px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}

#alert_insc {
	width: 500px;
	margin: auto;
	height: 65px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#insc_input {
	width: 200px;
}

/* REDACTION */

#form_redac {
	width: 800px;
	margin: auto;
	padding: 5px;

}


#selec_tag {
	padding: 15px;
}

#inputGroupSelect01 {
	margin: auto;
}

/* PROFIL */

#titre_posts_profil {
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	width: 65%;
	min-width: 750px;
	max-width: 1200px;
	border-bottom: 1px black solid;

}

.pseudo_abo {
	width: 110px;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.div_bouton_abo {
	padding-top: 5px;
	margin: auto;
	width: 50%;
}

/*CONNEXION*/

#bouton_connexion {
	background-color: rgb(255, 105, 120);
	border: none;
}

#titre_rouge {
	background: -webkit-linear-gradient(#cc3f3f, #c15050);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 55px;
	;
	font-family: "PicNic-Regular";
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: rgb(53, 45, 57);
}

/* POST */
.post {
	margin: auto;
	margin-top: 15px;
	padding-top: 5px;
	width: 65%;
	min-width: 750px;
	max-width: 1200px;
	min-height: 144px;
	display: flex;
	border-radius: 7px;
	background-color: rgb(53, 45, 57);
	cursor: pointer;
	position: relative;
	transition: transform 0.2s;
	color: #d1d1d1;
}

.lien_vers_post {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.post:hover {
	transform: scale(1.02);
}

.post h2:hover {
	background-color: rgba(177, 237, 232, 0.479);
	border-radius: 5px;
}

#posts .div_desc {
	max-height: 75px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.titre_post {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;

}

.post_gauche {
	position: relative;
	width: 20%;
	margin-right: 20px;
	margin-top: 15px;
}

.post_gauche_haut {
	display: flex;
	justify-content: center;
}

.post_gauche_com {
	width: 20%;
	margin-right: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.post_milieu {
	position: relative;
	width: 60%;
	margin-top: -1px;
}

.post_droit {
	position: relative;
	width: 30px;
	margin-right: 20px;
}

.tags {
	position: absolute;
	z-index: 2;
	margin-top: -30px;
}

.liste_tags {
	padding-left: 0px;
	list-style-type: none;
	display: flex;
	font-size: 13px;
}

.liste_tags li {
	margin-right: 5px;
	margin-left: 5px;
}

.liste_tags a {
	color: #d1d1d1;
}

.options_bouton {
	position: absolute;
	z-index: 2;
	padding: 5px;
	font-size: 12px;
	border: none;
	background-color: rgb(53, 45, 57);
	color: #d1d1d1;

}

.options_bouton:hover {
	background-color: #d1d1d1;
	opacity: 50%;
}

.options {
	position: relative;
	display: inline-block;
}

.options_contenu {
	z-index: 2;
	display: none;
	position: absolute;
	background-color: #d1d1d1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: 0;
}

.options_contenu a {
	font-size: 12px;
	color: black;
	padding: 5px 7px;
	text-decoration: none;
	display: block;
}

.nb_vote {
	margin: auto;
	color: #d1d1d1;
}

.vote {
	position: absolute;
	margin-top: 5px;
	z-index: 2;
	top: 22%;
	left: 33%;
}

.div_desc {
	min-height: 72px;
	margin-bottom: 35px;
	text-align: justify;
	overflow-wrap: break-word;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	word-spacing: 0.1em;
	color: #d1d1d1;
}

#date_post {
	color: #d1d1d1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

#pseudo_post {
	color: #d1d1d1;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.bouton_co_ins {
	margin: 10px;
}

/*FOOTER */

footer {
	/* position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100px;  */

	padding-top: 5px;
	padding-bottom: 3px;
	text-align: center;
	background-color: rgb(53, 45, 57);
	color: #d1d1d1;
	font-family: 'Montserrat', sans-serif;
}

#profil {
	display: flex;
	justify-content: center;
}

#profil_gauche {
	margin-right: 10px;
}

#profil_droit {
	padding-top: 10px;
	display: flex;
}

.lien_pfp:hover {
	opacity: 0.7;
}

#abonne {
	margin-right: 10px;
}

#profil_droit p {
	margin-bottom: 0px;
}

.class_pfp {
	width: 64px;
	height: 64px;
	object-fit: cover;
	border-radius: 50%;
}

.pfp_list_abo {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-right: 10px;
}

.modal {
	/*
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);*/
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	justify-content: center;
}

.close {
	padding: 1rem 1rem;
	margin: -1rem -1rem -1rem auto;
}

.croix {
	height: 20px;
}

.modal-content {
	margin: auto;
	padding: 20px;
}

/* MODAL pour la photo de profil*/
#modal_pfp_contenu {
	margin-top: 300px;
	max-width: 500px;
	max-height: 200px;
}

input[type=file] {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 275px;
}

/* MODAL pour afficher les abonnés et les abonnements*/
.modal_abo_contenu {
	margin-top: 250px;
	max-width: 400px;
	height: 412px;
	overflow-y: auto;
}


.abo {
	display: flex;
}

.info_list_abo {
	width: 50%;
	padding-left: 10px;
	display: flex;
}

.abonnement_pseudo {
	margin-top: 9px;
}

#nom_liste {
	border-radius: 5px;
	color: rgb(255, 252, 249);
	background-color: rgb(53, 45, 57);
	padding-bottom: 3px;
}