/*CSS body*/

body {
	font-family: "Arial";
	color: black;

}

body a {
	text-decoration: none;
	color: black;
}

/*CSS header*/

@font-face {
	font-family: "PicNic-Regular";
	src: url("ressources/font/PicNic-Regular.woff2");
	}

#titre1 {
	font-family: "PicNic-Regular";
	font-size: 60px;
	margin-bottom: 0px;
	color:rgb(255, 41, 41);
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
	display: inline;
}
#titre2 {
	font-family: "PicNic-Regular";
	font-size: 60px;
	color:white;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
	display: inline;
	
}

header {
	text-align: center;
	border-bottom: 1px black solid;
}

header a {
	margin: 8px;
	margin-top: 0px;
}

a:hover {
	background-color: rgb(214, 212, 212);
}

/* INSCRIPTION & CONNEXION */

#form_insc {
	width: 500px;
	margin:auto;
	margin-top: 15px;
	position: relative;
	margin-bottom:15px;
}

#alert_insc {
	width: 500px;
	height: 65px;;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

#insc_input {
	width: 200px;
}

/* REDACTION */

#form_redac {
	width: 800px;
	margin:auto;
	padding : 5px;

}





main a {
	text-decoration: underline;
	text-align: center;
}

main {
	margin-top: 15px;
	text-align: center;
}

#pseudo {
	border: 1px black solid;
	display: inline-block;
}

#abo {
	border: 1px black solid;
	display: inline-block;
}

.bouton_co_ins {
    margin: 10px;
}

/*FOOTER */

footer {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px black solid;
	text-align: center;
}

